<!-- BEGIN TOP BAR -->
<div class="pre-header">
  <div class="container">
    <div class="row">
      <!-- BEGIN TOP BAR LEFT PART -->
      <div class="col-md-6 col-sm-3 hidden-xs">
        <ul class="list-unstyled list-inline">
          <li>
            <li style="padding-left:0">
              <a target="_blank" href="https://br.linkedin.com/in/ramon-santos">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/ramonsantos.dev">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="http://www.slideshare.net/RamonSantos28">
                <i class="fa fa-slideshare"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://plus.google.com/+RamonSantosDev">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/ramonsantos_dev">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/ramonsantos">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </li>
        </ul>
      </div>
      <!-- END TOP BAR LEFT PART -->
      <!-- BEGIN TOP BAR MENU -->
      <div class="col-md-6 col-sm-9 col-xs-12 additional-nav">
        <ul class="list-unstyled list-inline pull-right">
          <li>
            <i class="fa fa-envelope"></i>
            <a href="mailto:ramonsantos.pe@gmail.com">ramonsantos.pe@gmail.com</a>
          </li>
        </ul>
      </div>
      <!-- END TOP BAR MENU -->
    </div>
  </div>
</div>
<!-- END TOP BAR -->
<!-- BEGIN HEADER -->
<div class="header">
  <div class="container">

    <h1 style="display:inline;font-size:32px;width:auto">
      <a class="site-logo" href="<%- url_for() %>" title="<%= config.subtitle %>">Ramon Santos</a>
    </h1>
    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation pull-right font-transform-inherit">
      <ul>
        <% for (var i in theme.menu){ %>
          <li class="<%= url_for(theme.menu[i]) == url_for(path).substring(0, url_for(path).lastIndexOf('/') + 1) ? 'active' : ''   %>">
            <a  href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          </li>
        <% } %>
          <li class="hidden-lg hidden-md hidden-sm">
            <ul class="list-unstyled list-inline">
              <li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="https://br.linkedin.com/in/ramon-santos">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="https://www.facebook.com/ramonsantos.dev">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="http://www.slideshare.net/RamonSantos28">
                    <i class="fa fa-slideshare"></i>
                  </a>
                </li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="https://plus.google.com/+RamonSantosDev">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="https://twitter.com/ramonsantos_dev">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="social-link">
                  <a target="_blank" style="display: block;" href="https://github.com/ramonsantos">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
              </li>
            </ul>
          </li>
      </ul>
    </div>
    <!-- END NAVIGATION -->
  </div>
</div>
<!-- Header END -->
